eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
      prefer-ip-address: true
server:
  port: 8769
spring:
  application:
    name: service-zuul
zuul:
  routes:
    api-b:
      path: /api-b/**
      serviceId: service-feign